
header{
    border-bottom:1px solid #ECECEC;
    padding-top:24px;
    padding-bottom:24px;
    
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-navigation{
    display: flex;
    align-items: center;
    gap: 93px;
    
    
}
.navigation{

    display: flex;
    width: 281px;
    justify-content: space-between;
   }

.nav-link{
    position:relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);   
    text-decoration: none;
    padding-top:32px;
    padding-bottom:32px;
    transition: color var(--transit-dur-and-func);
    
}

.nav-link:hover,
.nav-link:focus{
    color:  var(--accent-color);
}

.current{
    color: var(--accent-color);
}

   .current::after{
    position: absolute;
    left:0;
    bottom: -1px;
    content:"";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
border-radius: 2px;}

.contacts{
    display:flex;
    gap:50px;
    align-items: center;
}
.contacts-mail,
.contacts-tel
{
    display:flex;
    color:inherit;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    transition:color var(--transit-dur-and-func);
}
 
 

 .contacts-mail-icon{
  display:flex;
  align-items: center;
  margin-right:10px;
  fill: currentColor;
 }

  .contacts-tel-icon{
    display:flex;
    align-items: center;
    margin-right:10px;
    fill:currentColor;
}

 .contacts-mail:hover,
 .contacts-mail:focus{
    color: var(--accent-color);
}

.contacts-tel:hover,
.contacts-mail:focus{
    color: var(--accent-color);
}