 
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-main);
    text-decoration: none;   
}

.studio{
    color:var(--logo-black);
}
.studio-footer{
    color: var(--logo-white); 
}